.advantages {
  display: inline-block;
  display: flex;
  margin-top: 95px;
  margin-bottom: 95px;
  margin: 0;
  padding-inline-start: 0;
}

.advantages__info {
  display: inline-block;
  margin-right: 30px;
}

.advantages__info:last-child {
  margin: 0px;
}

.advantages__icon {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.advantages__icon-file {
  width: 70px;
  height: 70px;
}

.advantages__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--header-color-text);
  margin: 0;
  padding-bottom: 10px;
}

.advantages__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contacts-text-color);
  padding-top: 10px;
  margin: 0;
  color: #757575;
}